In [1]:
import pandas as pd
from datetime import datetime

In [2]:
input_file = '/home/hasitha/Desktop/sb_rf_coefficients.csv'

In [3]:
df = pd.read_csv(input_file)
df

         name  curw_obs_id  coefficient
0       C_01A       100030         0.16
1       C_01A       100002         0.84
2       C_01B       100051         0.06
3       C_01B       100002         0.45
4       C_01B       100049         0.49
..        ...          ...          ...
163        C9       100050         1.00
164  Madiwela       100003         0.02
165  Madiwela       100015         0.17
166  Madiwela       100031         0.20
167  Madiwela       100032         0.61

[168 rows x 3 columns]

In [5]:
df.groupby('name')
df

         name  curw_obs_id  coefficient
0       C_01A       100030         0.16
1       C_01A       100002         0.84
2       C_01B       100051         0.06
3       C_01B       100002         0.45
4       C_01B       100049         0.49
..        ...          ...          ...
163        C9       100050         1.00
164  Madiwela       100003         0.02
165  Madiwela       100015         0.17
166  Madiwela       100031         0.20
167  Madiwela       100032         0.61

[168 rows x 3 columns]

In [4]:
station_fractions = {'station1':3.3242,'station2':0.3242,'station3':0.42}
weights = pd.DataFrame.from_dict(data=station_fractions, orient='index', dtype='float')
weights

               0
station1  3.3242
station2  0.3242
station3  0.4200

In [7]:
current_date = datetime.now()
run_date = '2019-11-26 04:00:00'
run_date = datetime.strptime(run_date, '%Y-%m-%d %H:%M:%S')
print('[current_date, run_date] : ', [current_date, run_date])

[current_date, run_date] :  [datetime.datetime(2019, 11, 25, 12, 38, 2, 895384), datetime.datetime(2019, 11, 26, 4, 0)]

In [8]:
def validate_workflow(current_date, run_date):    
    if current_date >= run_date:
        print('validate_workflow|True')
        return True
    else:
        print('validate_workflow|False')
        return False

In [9]:
validate_workflow(current_date, run_date)

validate_workflow|False

False