In [1]:
import pandas as pd
from datetime import datetime

In [ ]:
current_date = datetime.now()
run_date = '2019-11-26 04:00:00'
run_date = datetime.strptime(run_date, '%Y-%m-%d %H:%M:%S')
print('[current_date, run_date] : ', [current_date, run_date])

In [8]:
def validate_workflow(current_date, run_date):    
    if current_date >= run_date:
        print('validate_workflow|True')
        return True
    else:
        print('validate_workflow|False')
        return False

In [9]:
validate_workflow(current_date, run_date)

validate_workflow|False

False

In [2]:
from datetime import datetime
import croniter

In [3]:
[schedule, schedule_date] = ['32 00 * * *', datetime(2019, 12, 5, 0, 30)]
cron = croniter.croniter(schedule, schedule_date)
run_date = cron.get_next(datetime)
print('run_date : ', run_date)

run_date :  2019-12-05 00:32:00

In [4]:
import cronex

In [5]:
job = cronex.CronExpression("32 00 * * *")
job.check_trigger((2019, 12, 5, 0, 31))

False

In [6]:
import croniter
cron = croniter.croniter('32 00 * * *', datetime(2019, 12, 5, 0, 25))
print(cron.get_next(datetime))

2019-12-05 00:32:00

In [7]:
cron = croniter.croniter('32 00 * * *', datetime(2019, 12, 5, 0, 35))
print(cron.get_next(datetime))

2019-12-06 00:32:00

In [9]:
cron = croniter.croniter('32 00 * * *', datetime.strptime('2019-12-06 00:32:00', '%Y-%m-%d %H:%M:%S'))
print(cron.get_next(datetime))

2019-12-07 00:32:00

In [37]:
def get_iteration_gap(cron_exp):
    cron = croniter.croniter(cron_exp, datetime.now())
    date1 = cron.get_next(datetime)
    date2 = cron.get_next(datetime)
    print([date1, date2])
    difference = date2 - date1
    print(difference.days)
    print(difference.seconds)
    #now = int(time.time()) # epoch seconds
    diff = difference.total_seconds() # some time in the past
    d = divmod(diff,86400)  # days
    h = divmod(d[1],3600)  # hours
    m = divmod(h[1],60)  # minutes
    s = m[1]  # seconds
    print([d[0],h[0],m[0],s])

In [42]:
get_iteration_gap('*/10 * * * *')

[datetime.datetime(2020, 1, 6, 10, 10), datetime.datetime(2020, 1, 6, 10, 20)]
0
600
[0.0, 0.0, 10.0, 0.0]

In [9]:
import pandas as pd 
  
# initialize list of lists 
data_values = [['tom', 10], ['nick', 15], ['juli', 14]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data=data_values, columns = ['Name', 'Age']) 
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [16]:
(rows, columns) = df.shape
print(df.shape[0])

3