In [2]:
import pandas as pd

In [2]:
input_file = '/home/hasitha/Desktop/sb_rf_coefficients.csv'

In [3]:
df = pd.read_csv(input_file)
df

         name  curw_obs_id  coefficient
0       C_01A       100030         0.16
1       C_01A       100002         0.84
2       C_01B       100051         0.06
3       C_01B       100002         0.45
4       C_01B       100049         0.49
..        ...          ...          ...
163        C9       100050         1.00
164  Madiwela       100003         0.02
165  Madiwela       100015         0.17
166  Madiwela       100031         0.20
167  Madiwela       100032         0.61

[168 rows x 3 columns]

In [5]:
df.groupby('name')
df

         name  curw_obs_id  coefficient
0       C_01A       100030         0.16
1       C_01A       100002         0.84
2       C_01B       100051         0.06
3       C_01B       100002         0.45
4       C_01B       100049         0.49
..        ...          ...          ...
163        C9       100050         1.00
164  Madiwela       100003         0.02
165  Madiwela       100015         0.17
166  Madiwela       100031         0.20
167  Madiwela       100032         0.61

[168 rows x 3 columns]

In [4]:
station_fractions = {'station1':3.3242,'station2':0.3242,'station3':0.42}
weights = pd.DataFrame.from_dict(data=station_fractions, orient='index', dtype='float')
weights

               0
station1  3.3242
station2  0.3242
station3  0.4200